/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');



#wrapper {
    border: 0px solid blue;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 98%;
}

#wrapper > div {
    border: 0px solid green;
    box-sizing: border-box;
    border-bottom: 1px solid #F4F4F5;
}

#wrapper2 {
    background-color: #FFFFFF;
    display: flex;
    box-sizing: border-box;
}
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-width: 400px){
    #wrapper > div {
      width: 100%;
    }
}

