@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300&display=swap');

* {
    font-family: 'Catamaran', sans-serif;
}
.horPartition {
    margin-top: 40px;
    display: flex;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 100px;
}

.borderRight {
    border-right: 1px solid rgb(214, 211, 211);
    padding-right: 15px;
    padding-top: 30px;
}

.shopDetail {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    width: 95%;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
}

.bagCard {
    border: 1px solid rgb(214, 211, 211);
    padding: 12px;
    width: 94%;
    border-radius: 5px;
    margin-bottom: 8px;
}

.productDiv {
    display: flex;
    border-bottom: 1px solid rgb(214, 211, 211);
}
.prodImage{
    width: 40%;
}
.bagProdInfo{
    display: flex;
    flex-direction: column;
}

.productDivSecond {
    text-align: left;
    font-size: 15px;
    padding-left: 14%;
    line-height: 1.5;
}

.productDivThird {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: right;
    font-size: 15px;
    padding-right: 10px;
    line-height: 1.5;
    padding-top: 10px;
}

.gridBtn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
    color: rgb(65, 63, 63);
    font-weight: bold;
    font-size: 14px;
}

.removeDiv {
    border-right: 1px solid rgb(214, 211, 211);
}

.cursor {
    cursor: pointer;
}

.addMoreBox {
    border: 1px solid rgb(214, 211, 211);
    margin: 25px;
    width: 92.6%;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-left: 0%;
    padding: 16px;
    padding-bottom: 6px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 6% auto 10%;
    text-align: left;
    font-size: 15px;
    color: black;
}

.addMoreBox div:nth-child(2) {
    margin-top: -2px;
}

.addMoreBox div:nth-child(3) {
    text-align: right;
    margin-top: -2px;
}

.gridModelBtn {
    display: grid;
    grid-template-columns: 60% auto;
    padding-top: 10px;
    color: rgb(65, 63, 63);
    font-weight: bold;
    font-size: 14px;
}

.bagModelCard {
    width: 430px;
    background-color: white;
    position: fixed;
    top: 0;
    margin-left: 240px;
    margin-top: 190px;
    padding: 15px;
    border-radius: 5px;
}

.flexBagModel {
    display: grid;
    grid-template-columns: 14% auto;
}

.bagModelBg {
    width: 150%;
    height: 100vh;
    background-color: rgb(177, 170, 170);
    opacity: 50%;
    position: fixed;
    top: 0;
    margin-left: -20%;
}

.closeBagModel {
    width: 23px;
    height: 23px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    position: fixed;
    top: 0;
    margin-left: 660px;
    margin-top: 205px;
    border-radius: 50%;
}

.closeBagModel div {
    background: none;
    margin-top: -7px;
}
.textDec {
    text-decoration: none;
}

.borderBottom {
    border-bottom: 1px solid rgb(214, 211, 211);
}

.fontBold {
    font-weight: bold;
}

.font15 {
    font-size: 15px;
}

.blue {
    color: #526CD0;
}

.font14 {
    font-size: 14px;
}
.red {
    color: red;
}

.lineThrough {
    text-decoration: line-through;
}
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-width: 400px){
    .productDiv{
        flex-direction: column;
    }
    .prodImage{
        width: 100%;
    }
    .productDivSecond{
        padding-left: 0;
    }
    .productDivThird{
        justify-content: space-between;
    }
    .removeDiv   {
        width: 100%;
        border: 2px solid white;
        background-color: red;
        color: white;
    }
    .horPartition{
        width: 100%;
        margin-left: 0%;
    }
}

/* For Tablet View */
@media screen and (max-width: 900px){

}