@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300&display=swap');

* {
    font-family: 'Catamaran', sans-serif;
}

.navMargin {
    margin-top: 95px;
}

.heading {
    font-size: 20px;
    color: #282C3F;
    font-weight: bold;
    text-align: left;
    padding-top: 40px;
    padding-left: 70px;
}

.cardCont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 7%;
}

.card {
    width: 230px;
    border: 1px solid #E7E7E7;
    margin-bottom: 50px;
}

.cancelIcon {
    width: 23px;
    height: 23px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    margin-left: 198px;
    margin-top: -308px;
    border-radius: 50%;
    color: rgb(29, 29, 29);
}

.cancelIcon div {
    background: none;
    margin-top: -7px;
}

.buttons {
    width: 230px;
    border: 1px solid #E7E7E7;
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #FF3E6C;
    cursor: pointer;
}

.flexPrice {
    display: flex;
    justify-content: space-around;
}

.titleFont {
    font-weight: 600;
    color: #282C3F;
}

.mrpFont {
    color: #282C3F;
    font-size: 14px;
    margin-top: 4px;
    text-decoration-line: line-through;
}

.discountFont {
    font-weight: 600;
    color: #FF905A;
    font-size: 14px;
    margin-top: 4px;
}

.countFont {
    font-weight: 300;
    color: #282C3F;
    font-size: 18px;
}

.btnCntShop {
    color: #2057e2;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 5px;
    border: 1px solid #194fd6;
    cursor: pointer;
}

.modelBg {
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 170, 170);
    opacity: 50%;
    position: fixed;
    top: 0;
}

.modelCard {
    width: 370px;
    /* border: 1px solid red; */
    background-color: white;
    position: fixed;
    top: 0;
    margin-left: 550px;
    margin-top: 190px;
    padding: 25px;
    border-radius: 5px;
}

.flexModel {
    display: grid;
    grid-template-columns: 18% auto;
}

.align {
    text-align: left;
}

.marginLeft {
    margin-left: 15px;
}
.font16 {
    font-size: 17px;
}

.sizeDiv {
    width: 40px;
    height: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    color: grey;
}

.sizeDiv div {
    background: none;
    margin-top: 6px;
}

.sizeDiv:hover {
    border: 1px solid #FF3E6C;
    color: #FF3E6C;
}

.sizeSelectedDiv {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid #FF3E6C;
    color: #FF3E6C;
}

.sizeSelectedDiv div {
    background: none;
    margin-top: 6px;
}

.gridBtn {
    display: grid;
    grid-template-columns: auto auto auto auto auto 80%;
    column-gap: 10px;
}

.doneBtn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 100px;
    background-color: #FF3E6C;
    color: white;
    cursor: pointer;
}

.closeModel {
    width: 23px;
    height: 23px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    position: fixed;
    top: 0;
    margin-left: 920px;
    margin-top: 215px;
    border-radius: 50%;
    color: grey;
}

.closeModel div {
    background: none;
    margin-top: -7px;
}
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-width: 400px){
    .buttons  {
        width: 100%;
      }
      .card {
        width: 100%;
      }
      .cancelIcon{
        margin-left: 0;
        margin-top: 0;
        top: 244px;
        left: 332px;
      }
  }